.navbar-brand {
    color: aquamarine;
    font-size: 41px;
    top: -12px;
    position: relative;
    left: 81px;
 font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    width: 150px;
    
}
 body{
     background-image: url(https://wallpaperaccess.com/full/1726177.jpg);
     margin: 0 auto;
     width: 1000px;
     /* background-position: center center; */
        background-size: auto;
        /* background-repeat: no-repeat; */
     }
 .img-fluid{
     float: left;
     margin-right: 25px;
 }

 .picspace{
    vertical-align: middle;
    border-style: groove;
    margin-right: 20px;
}

 .index-para{
    text-align: center;
    color: aliceblue;
    font-family: -webkit-body;
    font-size: 100px;
    position: relative;
    display: block;
    margin-top: 135px;
 }
 .index-second{
    text-align: center;
    color: aliceblue;
    font-family: -webkit-body;
    font-size: 50px;
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 100px;
 }
 .jumbotron{
    background: none;
     padding-top: 19px;
     
 }

.nav{
    background-color: royalblue;
}

h2{
    font-size: 36px;
    font-family: georgia;
    margin: 0px;
    left: 7px;
    position: relative;
}

hr.rounded {
    border-top: 3px solid #bbb;
    border-radius: 10px;
    color: black;   
    background-color: black;
}

.imgWidth{
 width: 25%;
}

#indexContainer{
    height: 440px;
}

.projectImg{
    margin: auto;
    display: block;
    width: 80%;
}

.backgroundNone{
    background: none;
}

.cardStyle{
    border-style: groove;
    background: none;
    color: aliceblue;
    border-color: inherit;
    text-align: center;
    margin: 10px;
    /* height: 340px; */
}
.porfolioCardStyle{
    border-style: groove;
    background: none;
    color: aliceblue;
    border-color: inherit;
    text-align: center;
    margin: 10px;
    height: 340px;
}

.rowStyle{
    margin-top: 150px;
}

.indexBtn{

    margin: auto;
        display: block;
}

.aliceBlue{
    color: aliceblue;
}

.cellEmailStyle{
    font-size: 30px;
    font-family: -webkit-body;
    color: aliceblue;
}